@import url(http://fonts.useso.com/css?family=Montserrat:400,700|Source+Sans+Pro:600,300,300italic);




body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
    font-weight: 300;
  background-color: #ffffff;
}