*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	position: relative;
	font-family: "微软雅黑";
	min-width:1226px;
}
header{
	width: 100%;
	background: #333333;
}
.pic{
	width:100%;
	height:60px;
	background:url(../images/bar1.jpg) no-repeat center 0;
}
nav{
	width:1226px;
	height:40px;
	margin: 0 auto;
	position: relative;
}
nav ul li{
	list-style: none;
	float:left;
	font-size: 12px;
	font-family: "微软雅黑";
}
nav ul.fright li{
	float:right;
}
nav ul li a{
	text-decoration: none;
	color:#b0b0b0;
	line-height:40px;
	vertical-align: middle;

}
nav ul li a:hover{
	color:#fff;
}
nav ul li span{
	color:#b0b0b0;
	padding: 0 5px;
	line-height:40px;
	vertical-align: middle;
}
.shopcart{
	display:block;
	width:120px;
	background: #424242;
	margin-left: 27px;
	font-size: 12px;
	text-align: center;
}
.shopcart i{
	font-size: 20px;
	line-height:40px;
	vertical-align: middle;
	color:#b0b0b0;
}
.main{
	width:1226px;
	margin:0 auto;
}
.shopcartifo{
	height:100px;
	width:330px;
	float:right;
	-webkit-box-shadow:0 0 10px #b0b0b0;
  	-moz-box-shadow:0 0 10px #b0b0b0;
  	box-shadow:0 0 10px #b0b0b0;
}
.shopcartifo{
	font-size: 14px;
	font-family: "微软雅黑";
	line-height:100px;
	vertical-align: middle;
	text-align: center;
	position:absolute;
	right:0;
	top:40px;
	background: #fff;
	z-index: 1000;
	display:none;
}
.section1{
	padding: 22px 0;
	height:55px;
}
.section1 .logo1{
	background-color: #ff6700;
	width:55px;
	height:55px;
	float:left;
}
.section1 .logo1 .logo{
	background: url(../images/mi-logo.png) no-repeat 50% 50%;
	width:55px;
	height:55px;
}
.section1 .logo2{
	background: url(../images/mi5.gif) no-repeat 50% 50%;
	height:55px;
	width:163px;
	float:left;
}
.section1 .nav{
	padding-left: 16px;
	overflow: auto;
	float:left;
}
.section1 .nav li{
	float:left;
	list-style: none;
}
.section1 .nav li a{
	text-decoration: none;
	color:#000;
	font-size: 16px;
	font-family: "微软雅黑";
	line-height: 55px;
	vertical-align: middle;
	padding: 0 10px;
}
.section1 .nav li a:hover{
	color:#f37a29;
}
.section1 .search{
	float:right;
	position: relative;
}
.section1 .search input[type="text"]{
	height:55px;
	width:243px;
	float:left;
	outline:none;
	border:1px solid #e0e0e0;
}
.section1 .search input[type="text"]:focus{
	border: 1px solid #ff6700;
	border-right: none;
}
.section1 .search input[type="text"]:focus ~.sbutton{
	border: 1px solid #ff6700;
}
.section1 .search input[type="text"]:focus ~.stext{
	display:block;
}
.section1 .search .sbutton{
	height:53px;
	width:54px;
	border: 1px solid #e0e0e0;
	border-left: none;
	float:right;
	position: relative;
}
.section1 .search .sbutton i{
	line-height:53px;
	vertical-align: middle;
	font-size: 20px;
	color:#616165;
	position: absolute;
	left:50%;
	margin-left: -10px;
}
.section1 .search .sbutton:hover{
	background: #ff6700;
	border-color:#ff6700;
}
.section1 .search .sbutton:hover >i{
	color:#fff;
}
.section1 .search .stext{
	position:absolute;
	left:0;
	top:55px;
	border:1px solid #ff6700;
	border-top: none;
	display: none;
}
.section1 .search .stext ul li{
	list-style: none;

}
.section1 .search .stext ul li a{
	display:block;
	text-decoration:none;
	line-height:30px;
	vertical-align: middle;
	color:#5f5f5f;
	padding-left: 15px;
	font-size: 12px;
	font-family: "微软雅黑";
	width:227px;
	height:30px;
}
.section1 .search .stext ul li a:hover{
	background:#fafafa;
}
.section1 .search .stext ul li span{
	float:right;
	padding-right: 10px;
	color:#c8c8c8;
}

.list{
	position:absolute;
	width:100%;
	top:199px;
}
.list li{
	list-style: none;
	border-top: 1px solid #e0e0e0;
	display: none;
}
.list .ifos{
	width:1226px;
	height:229px;
	margin: 0 auto;
	background:#fff;
}
.list .ifos .ifo{
	float:left;
	width:203px;
	height: 100%;
	position: relative;
}
.list .ifos .ifo img{
	padding: 0 21px;
	margin-top: 35px;
	margin-bottom: 15px;
	border-right: 1px solid #e0e0e0;
	height:110px;
	width:160px;
}
.list .ifos .ifo:last-child img{
	border-right: none;
}
.list .ifos .ifo p{
	text-align: center;
	font-size: 12px;
	font-family: "微软雅黑";
	padding-top:10px;
}
.list .ifos .ifo p:last-child{
	color:#f37a29;
}

.section2{
	clear:both;
	position: relative;
	width:1226px;
	height:460px;
}
.section2 .bg{
	background: url(../images/27.jpg) no-repeat 0 0;
	width:1226px;
	height:460px;
	position: absolute;
}
.section2 .banner{
	width:1226px;
	height:460px;
	position: relative;
}
.section2 .banner .arrow{
	width:41px;
	height:69px;
	opacity: .3;
	position: absolute;
	text-align: center;
	cursor:pointer;
}
.arrow:hover{
	background: #5f5f5f;
}
.section2 .banner .arrow i{
	font-size:50px;
	line-height: 69px;
	vertical-align: middle;
}
.section2 .banner #left{
	left:234px;
	top:195px;
}
.section2 .banner #right{
	right:0;
	top:195px;
}
.section2 .banner .cir{
    position: absolute;
    bottom: 16px;
    right:20px;
}
.section2 .banner .cir li{
	list-style: none;
    width:8px;
    height:8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
    border:2px solid #a0a0a0;
    display: inline-block;
    cursor:pointer;
}
.section2 .banner .cir li span{
	display: block;
	width: 8px;
    height: 8px;
    background: #999999;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.section2 .banner .cir .selected span{
	background: transparent;
}
.section2 .banner .bgimg{
	display:none;
}
.section2 .banner .nav{
	width:234px;
	height:440px;
	background:rgba(95, 95, 95, 0.5) none repeat scroll 0 0;
	padding-top: 20px;
	position: relative;
}
.section2 .banner .nav li{
	list-style: none;
}
.section2 .banner .nav li a{
	font-family: "微软雅黑";
	font-size: 14px;
	display:block;
	height:41px;
	width:179px;
	padding-left: 31px;
	padding-right: 24px;
	text-decoration:none;
	line-height: 41px;
	vertical-align: middle;
	color:#fff;
}
.section2 .banner .nav li a i{
	float:right;
	line-height: 41px;
	vertical-align: middle;
}
.section2  .banner .nav li a:hover{
	background: #ff6700;
}
.more{
	background: #fff;
	border-top:1px solid #e0e0e0;
	height:460px;
	position: absolute;
	top:0;
	left:234px;
	-webkit-box-shadow:3px 3px 10px #b0b0b0;
  	-moz-box-shadow:3px 3px 10px #b0b0b0;
  	box-shadow:3px 3px 10px #b0b0b0;
  	display:none;
}
.wid1{
	width:265px;
}
.wid2{
	width:530px;
}
.more ul li{
	list-style: none;
	float:left;
	width:265px;
	height:76px;
}
.more ul li img{
	padding: 18px 15px;
	float:left;
}
.more ul li p{
	display:inline-block;
	line-height: 76px;
	vertical-align: middle;
	font-size: 14px;
	font-family: "微软雅黑";
}
.more ul li span{
	display:inline-block;
	font-size: 12px;
	font-family: "微软雅黑";
	border:1px solid #ff6700;
	padding: 6px 17px;
	float:right;
	margin: 26px 10px;
	transition:all 0.5s;
	-moz-transition:all 0.5s; /* Firefox 4 */
	-webkit-transition:all 0.5s; /* Safari and Chrome */
	-o-transition:all 0.5s; /* Opera */
}

.more ul li span:hover{
	background: #ff6700;
	color: #fff;
}
.section3 {
    margin-top: 14px;
}
.icos{
	width:234px;
	overflow: auto;
	float:left;
}
.icos ul li{
	list-style: none;
	float:left;
	width:77px;
	height:85px;
	background: #5f5750;
	line-height: 85px;
	text-align: center;
	vertical-align: middle;
}
.icos ul li a{
	text-decoration: none;
	overflow: auto;
	display:inline-block;
	width:64px;
	height:70px;
	color:#cdcac8;
	font-size:12px;
	line-height: 38px;
	text-align: center;
	vertical-align: middle;
}
.ico{
	width:64px;
	height:32px;
}
.icos ul li:nth-child(1) .ico{
	background: url(../images/ico2.png) no-repeat center bottom;
}
.icos ul li:nth-child(2) .ico{
	background: url(../images/ico3.png) no-repeat center bottom;
}
.icos ul li:nth-child(3) .ico{
	background: url(../images/ico4.png) no-repeat center bottom;
}
.icos ul li:nth-child(4) .ico{
	background: url(../images/ico1.png) no-repeat center bottom;
}
.icos ul li:nth-child(5) .ico{
	background: url(../images/ico5.png) no-repeat center bottom;
}
.icos ul li:nth-child(6) .ico{
	background: url(../images/ico6.png) no-repeat center bottom;
}
.piclist{
	overflow: auto;
}
.piclist img{
	width:316px;
	height:170px;
	padding-left: 14px;
}

.section4{
	margin-top: 25px;
	margin-bottom: 40px;
}
.section4 h4{
	font-size: 20px;
	float:left;
	line-height: 60px;
	vertical-align: middle;
}
.section4 .buts{
	float:right;
	margin-top: 20px;
}
.section4 .but{
	width:34px;
	height: 22px;
	border: 1px solid #CDC9C9;
	display: inline-block;
	text-align: center;
	line-height: 22px;
	vertical-align: middle;
	font-size: 20px;
	color: #CDC9C9;
}
.section4 .butr{
	border-left:0;
}
.butt{
	cursor: pointer;
	color: #4D4D4D !important;
}
.butt:hover{
	color: #f36709 !important;
}
.section4 .plists{
	clear:both;
	width:1226px;
	overflow: hidden;
}
.section4 .lists{;
	width:2452px;
	position: relative;
}
.section4 .lists li{
	list-style: none;
	float:left;
	width:234px;
	height:339px;
	background: #fafafa;
	margin-right:14px;
}
.section4 .lists li:nth-child(5n+1){
	border-top: 1px solid #ffac13;
}
.section4 .lists li:nth-child(5n+2){
	border-top: 1px solid #83c44e;
}
.section4 .lists li:nth-child(5n+3){
	border-top: 1px solid #2196f3;
}
.section4 .lists li:nth-child(5n+4){
	border-top: 1px solid #e53935;
}
.section4 .lists li:nth-child(5n){
	border-top: 1px solid #00c0a5;
	margin-right:0;
}
.section4 .lists li img{
	width:160px;
	height:160px;
	margin:40px 37px;
}
.section4 .lists p{
	font-family: "微软雅黑";
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	vertical-align: middle;
}
.section4 .lists p:nth-child(3){
	color:#b6c9e7;
}
.section4 .lists p:nth-child(4){
	color:#f36709;
	line-height: 36px;
}

.main2{
	width:100%;
	background: #f5f5f5;
	overflow: auto;
}
.sec1{
	width:1226px;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: auto;
}
.sec1 .title{
	margin: 20px 0;
	height:21px;
	line-height: 21px;
	vertical-align: middle;
}
.sec1 .title span{
	font-family: "微软雅黑";
	font-size: 21px;
}
.sec1 .title a{
	font-size: 16px;
	font-family: "微软雅黑";
	display: inline-block;
	text-decoration: none;
	color: #000;
	float:right;
	line-height: 21px;
	vertical-align: middle;
	transition:all 0.5s;
	-moz-transition:all 0.5s; /* Firefox 4 */
	-webkit-transition:all 0.5s; /* Safari and Chrome */
	-o-transition:all 0.5s; /* Opera */
}
.sec1 .title a i{
	width:21px;
	height: 21px;
	border-radius: 21px;
	background: #b0b0b0;
	text-align: center;
	line-height: 21px;
	color:#fff;
	margin-left: 10px;
	transition:all 0.5s;
	-moz-transition:all 0.5s; /* Firefox 4 */
	-webkit-transition:all 0.5s; /* Safari and Chrome */
	-o-transition:all 0.5s; /* Opera */
}
.sec1 .title a:hover{
	color:#f36709;
}
.sec1 .title a:hover i{
	background:#f36709;
}
.sec1 .seclist1 li{
	list-style: none;
	float:left;
}

.div2{
	height:300px;
	width:234px;
	background: #fff;
	margin-left: 14px;
	margin-bottom: 14px;
	font-family: "微软雅黑";
	font-size: 12px;
	text-align: center;
	transition:all 0.5s;
	-moz-transition:all 0.5s; /* Firefox 4 */
	-webkit-transition:all 0.5s; /* Safari and Chrome */
	-o-transition:all 0.5s; /* Opera */
}
.div2:hover{
	transform:translateY(-2px);
	-ms-transform:translateY(-2px);	/* IE 9 */
	-moz-transform:translateY(-2px);	/* Firefox */
	-webkit-transform:translateY(-2px); /* Safari 和 Chrome */
	-o-transform:translateY(-2px); 	/* Opera */
	-webkit-box-shadow:0 2px 10px #b0b0b0;
  	-moz-box-shadow:0 2px 10px #b0b0b0;
  	box-shadow:0 2px 10px #b0b0b0;
}
.div2 img{
	height:150px;
	width:150px;
	margin: 0 35px;
	padding-bottom: 20px;
}
.div2 span{
	display: inline-block;
	height:20px;
	width:64px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
	margin: 0 85px;
}
.postage{
	background: #ffac13;
	color: #fff;
}
.new{
	background: #83c44e;
	color: #fff;
}
.sale{
	background: #e53935;
	color: #fff;
}
.div2 p:nth-child(3){
	margin: 11px 0;
}
.div2 p:nth-child(4){
	height: 12px;
	color:#b6c9e7;
}
.div2 p:nth-child(5){
	margin: 18px 0;
	color:#f36709;
}
.div3{
	transition:all 0.5s;
	-moz-transition:all 0.5s; /* Firefox 4 */
	-webkit-transition:all 0.5s; /* Safari and Chrome */
	-o-transition:all 0.5s; /* Opera */
}
.div3:hover{
	transform:translateY(-2px);
	-ms-transform:translateY(-2px);	/* IE 9 */
	-moz-transform:translateY(-2px);	/* Firefox */
	-webkit-transform:translateY(-2px); /* Safari 和 Chrome */
	-o-transform:translateY(-2px); 	/* Opera */
	-webkit-box-shadow:0 2px 10px #b0b0b0;
  	-moz-box-shadow:0 2px 10px #b0b0b0;
  	box-shadow:0 2px 10px #b0b0b0;
}
.div1{
	height: 143px;
	width:234px;
	margin-left: 14px;
	margin-bottom: 14px;
	background: #fff;
	transition:all 0.5s;
	-moz-transition:all 0.5s; /* Firefox 4 */
	-webkit-transition:all 0.5s; /* Safari and Chrome */
	-o-transition:all 0.5s; /* Opera */
}
.div1:hover{
	transform:translateY(-2px);
	-ms-transform:translateY(-2px);	/* IE 9 */
	-moz-transform:translateY(-2px);	/* Firefox */
	-webkit-transform:translateY(-2px); /* Safari 和 Chrome */
	-o-transform:translateY(-2px); 	/* Opera */
	-webkit-box-shadow:0 2px 10px #b0b0b0;
  	-moz-box-shadow:0 2px 10px #b0b0b0;
  	box-shadow:0 2px 10px #b0b0b0;
}
.div1 img{
	height: 71px;
	width:70px;
	margin: 36px 10px;
	float:right;
}
.div1 p:nth-child(2){
	width:82px;
	font-size: 14px;
	height:14px;
	overflow: hidden;
	text-overflow:ellipsis;
	position: relative;
	top:40px;
	left:32px;
}
.div1 p:nth-child(3){
	font-size: 14px;
	color:#f36709;
	position: relative;
	top:57px;
	left:32px;
}
.div4 p:nth-child(2){
	font-size: 20px;
	height:25px;
}
.div1 p:nth-child(3){
	font-size: 14px;
	color:#f36709;
	position: relative;
	top:57px;
	left:32px;
}
.sec2{
	clear: both;
	width:1226px;
	margin: 0 auto;
}

.seclist2 li {
	list-style: none;
	float:left;
}
.sec2 .title{
	margin: 20px 0;
	height:21px;
	line-height: 21px;
	vertical-align: middle;
}
.sec2 .title span{
	font-family: "微软雅黑";
	font-size: 21px;
}
.sec2 .title ul{
	float:right;
}
.sec2 .title ul li{
	list-style: none;
	float:left;
	height:21px;
	width:94px;
	text-align: center;
}
.sec2 .title ul li a{
	text-decoration: none;
	color:#000;
	padding-bottom: 3px;
}

.choose a{
	color:#f36709 !important;
	border-bottom: 2px solid #f36709;
}

.sec3{
	clear: both;
	width:1226px;
	margin: 0 auto;
}
.sec3 .title{
	margin: 20px 0;
	height:21px;
	line-height: 21px;
	vertical-align: middle;
}
.sec3 .title span{
	font-family: "微软雅黑";
	font-size: 21px;
}
.seclist3 li {
	list-style: none;
	float:left;
	margin-left:14px;
}
.seclist3 li:first-child{
	margin-left:0;
}
.div5{
	width:296px;
	height:415px;
	background: #fff;
}
.div5 img{
	width:296px;
}
.div5 p:nth-child(2){
	font-size: 14px;
	line-height: 25px;
	vertical-align: middle;
	width: 240px;
	height:75px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	margin: 32px 28px;
}

.div5 p:nth-child(3){
	font-size: 12px;
	width: 240px;
	margin: 0 28px 14px 28px;
	color:#bcb4b7;
}
.div5 p:nth-child(4){
	font-size: 14px;
	width: 240px;
	margin: 0 28px;
}
.div5 span{
	color:#f36709;
}
.sec4{
	clear: both;
	width:1226px;
	margin: 0 auto;
}
.sec4 .title{
	margin: 20px 0;
	height:21px;
	line-height: 21px;
	vertical-align: middle;
}
.sec4 .title span{
	font-family: "微软雅黑";
	font-size: 21px;
}
.seclist4 li {
	list-style: none;
	float:left;
}
.box{
	width:296px;
	height:419px;
	background: #fff;
	overflow: hidden;
	position: relative;
	float:left;
	margin-left: 14px;
}
.box:nth-child(2){
	margin-left: 0px;
}
.box:hover .l{
	display: block;
}
.box:hover .r{
	display: block;
}
.box .btitle{
	padding: 49px 0 25px 0;
	font-size: 16px;
	text-align: center;
}
.seclist4{
	width:1184px;
	height:250px;
	position: relative;
}
.div6{
	width:296px;
	height:250px;
	background: #fff;
}
.div6 img{
	width:200px;
	margin: 0 48px;
}
.div6 p:nth-child(1){
	font-size: 20px;
	text-align: center;
}
.div6 p:nth-child(2){
	font-size: 12px;
	text-align: center;
	width:200px;
	margin: 12px 48px;
	color:#bcb4b7;
}
.div6 p:nth-child(3){
	font-size: 12px;
	text-align: center;
	width:200px;
	margin: 12px 48px;
	height: 20px;
}
.s1{
	margin: 40px 28px 0 74px;
}
.s1 li{
	height: 8px;
	width: 8px;
	border-radius: 4px;
	background: #b0b0b0;
	list-style: none;
	float:left;
	margin: 2px 14px;
	cursor: pointer;
}
.sd{
	border-radius: 8px !important;
	background: transparent !important;
	border:2px solid #f36709;
	margin: 0px 14px !important;
}

.l{
	height:48px;
	width: 20px;
	background: #d9d9d9;
	position: absolute;
	top:50%;
	left: 0;
	margin-top: -24px;
	text-align: center;
	display: none;
}
.l i{
	font-size: 25px;
	color: #fff;
	line-height: 48px;
	vertical-align: middle;
}
.r{
	height:48px;
	width: 20px;
	background: #d9d9d9;
	position: absolute;
	top:50%;
	right: 0;
	margin-top: -24px;
	text-align: center;
	display: none;
}
.r i{
	font-size: 25px;
	color: #fff;
	line-height: 48px;
	vertical-align: middle;
}
.l:hover{
	background: #8d8d8d;
}
.r:hover{
	background: #8d8d8d;
}