/* header begin */
.header {
	background-color:#222222;
}
.logo {
    background: rgba(0, 0, 0, 0) url("../images/sdc_icon.png") no-repeat scroll left -109px;
    display: block;
    height: 80px;
    left: -43px;
    position: absolute;
    top: 2px;
    width: 185px;
    z-index: 10;
}
.logo:hover {
    background-position: 0 -191px;
}
.logo a {
    border: 0 none !important;
    display: block;
    height: 82px;
    width: 185px;
}
.rsslogo {
    background: rgba(0, 0, 0, 0) url("../images/sdc_icon.png") no-repeat scroll left -51px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 25px;
    width: 84px
}
.nav {
	height: 57px;
    margin: 0 auto;
    position: relative;
    width: 940px;
	
}
.nav-menu {
    list-style: outside none none;
    float: left;
    font-size: 1em;
    margin-left: 190px;
    z-index: 99; 
    position: absolute;
}
.nav-menu li {
    background: url(../images/menu-separator.png) no-repeat left center;
    display: block;
    float: left;
    min-height: 30px;
}
.nav-menu li a {
	font-weight: 400;
    height: 57px;
    line-height: 57px;
    padding: 0 20px;
    text-transform: lowercase;
    color: #fff;
    display: block;
    font-family: "微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 1.2em;
}
.on {
    background: #FF5500;
} 
.nav-menu li a:hover {
    background: #339dd2;
    color: #fff;
}
.hot-icon {
    background: rgba(0, 0, 0, 0) url("../images/hot.gif") no-repeat scroll left top;
    display: inline-block;
    height: 11px;
    width: 11px;
}
/* 中间大块 */
.container {
	 position: relative;
	 margin: 0 auto;
     max-width: 940px;
}
#back-top {
    background: black none repeat scroll 0 0;
    bottom: 60px;
    color: #fff;
    display: none;
    font-size: 14px;
    height: 38px;
    left: 50%;
    line-height: 38px;
    margin-left: 520px;
    position: fixed;/*关键*/
    text-align: center;
    width: 40px;
    z-index: 10; 
}
#back-top a {
    color: #fff;
    display: block;
    height: 38px;
}
#main {
	clear: both;
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
    width: 100%;
}
#aside-wrapper {
 	float: left;
    width: 17.0213%;
    clear: left;
    font-size: 1em;
    margin: 0 0 20px;
    position: relative;
    z-index: 2;
}
.menu {
 	max-width: 940px;
 	position: relative;
 	margin: 0 auto;
 	background: #111;
}
.menu ul {
 	position: relative;
} 
.menu ul li {
 	display: block;
 	border-bottom: solid 1px #252525;
    width: 100%;
    margin: 0 auto;
}
.menu ul li a {
 	border-bottom: 1px solid #252525;
    color: #ccc;
    display: block;
    font-size: 12px;
    line-height: 40px;
    padding-left: 30px;
    text-transform: uppercase;
}
.menu ul li a:hover,
.menu ul li a:hover:focus {
	color: #fff
}
.menu ul li img {
	margin-top:13px;
 	left:10px; 
 	position: absolute; 
 	cursor: pointer;
}
.menu ul li img:hover,
.menu ul li img:active {
	-moz-box-shadow:5px 5px 5px blue inset;            
	-webkit-box-shadow:5px 5px 5px #999 inset;         
	box-shadow:5px 5px 5px #999 inset; 
}
.menu ul li span {
	right:10px;
	position: absolute;
	width:10px;
}
.sub-menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #252525 #252525 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    display: none; 
    left: 100%;
    position: absolute;
    top:0;
    z-index: 100;
    background: #111 none repeat scroll 0 0;
    float: none;
    width: 12em;
}
.menu li:first-child:hover ul {
    position:absolute;
    left:100%;
    top:0;
    visibility:visible;
    display: block;
    float: none;
}
.menu1-display {
    position: relative;
}
.menu1-display:hover ul {
    display: block;
    position: absolute;
    top:0;
}
/* 小轮播 */
#smallcarousel {
	clear: both;
    margin-bottom: 20px;
    width: 160px;
    margin-top: 20px;
}
/* sidebar-primary */
.sidebar .widget {
	float: left;
    margin-bottom: 15px;
    width: 100%;
}
.sidebar .widget-title {
	background: #f3f3f3 none repeat scroll 0 0;
    border-left: 10px solid #e9e9e9;
    clear: both;
	color: #999;
    font-family: "微软雅黑",hei,"黑体",Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 0.35em 0.6em;
    text-transform: lowercase;
}
.sidebar p a {
	color: #0DA4D3;
}

.post_tag-cloud {
    font-family: "微软雅黑",Arial,Helvetica;
}
/* 优秀推荐 */

.book-cover {
    float: left;
    margin-left: -22px;
    margin-right: 35px;
    width: 50px;
}

.book-cover img {
    padding: 3px 0 0 23px;
    width: 50px;
}
#sidebar-text-6 ul.book-recommand {
    list-style: outside none none;
    margin: 0 0 1.75em;
}
#sidebar-text-6 ul.book-recommand li {
    border-bottom: 1px dotted #ccc;
    clear: both;
    margin-bottom: 1.5em;
    overflow: visible;
    padding-bottom: 1.5em;
}
#sidebar-text-6 ul.book-recommand li:last-child {
    border-bottom: none;
 }
dl.book-infor {
    font-size: 0.75em;
    height: 76px;
    margin: 0;
    overflow: hidden;
}
dl.book-infor dt {
    color: #323232;
    font-size: 1.4em;
    line-height: 1.6;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}
dl.book-infor dd {
    color: #717171;
    font-size: 1.3em;
    line-height: 1.6;
    margin: 2px 0 0;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}
#sidebar-text-9 ul {
	padding-left: 16px;
	color: #8a8a8a;
}
#sidebar-text-9 ul li {
	list-style: outside none circle;
}
#sidebar-text-9 ul li a {
 	color: #8a8a8a;
}
#sidebar-text-9 ul li a:hover,
#sidebar-text-9 ul li a:focus {
	color: #000;
}
/* 主轮播 */
#imgcarousel-container {
	float: right;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    width: 79.7872%;
    z-index: 1;
}
#carousel-big {
	height: 287px;
   	margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
#carousel-small {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
#carousel-small a {
    width: 14.6667%;/*这句是关键，窗口变小图片不会被挤掉*/
    float: left;
    margin: 0 2.4% 0 0;
}
#carousel-small a:last-child {
    margin-right:0;
}
#carousel-small a img {
    max-width: 100%;
}
.slider-nav {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1em;
    height: 28px;
	line-height:28px;
	vertical-align:middle;
    position: absolute;
    text-align: center;
    width: 31px;
    z-index: 10;
}
#slider-prev {
	background-position: 7px -21px;
    left: 0;
}
#slider-prev:hover {
	background-color: #000;
}
#slider-next {
   background-position: 7px 11px;
    right: 0;
}
#slider-next:hover {
	background-color: #000;
}
#carousel-big-wrapper {
	width: 100%;
}



